<div class="main-menu">
  <div class="main-menu__wrapper">
    {% for node, children in menu.items() recursive %}
      <div class="main-menu__item">
        <a href="{{ request.resource_url(context.__class__(node, context.prefix)) }}"
          class="main-menu__item-link">
          {{ node.name }}
        </a>
        <div class="main-menu__item-popup">
          {{ loop(children.items()) }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
