<link href="{{ request.static_url('ps_pages:static/css/__ps_pages.css') }}" rel="stylesheet" type="text/css" />

<div class="widget widget_type_single">
    <div class="widget-title">MPTT_PAGES</div>
    <div class="widget-toolbar">
        <div class="toolbar clear-fix">
            <div class="toolbar-button">
                {% include "sacrud/forms/actions/add.jinja2" %}
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="widget-tree" id="sacrud-tree"></div>
    </div>
</div>

<ul id="sacrud-tree-menu" class="dropdown-menu">
    <li class="dropdown-menu__item">
        <a href="#visible" class="dropdown-menu__item-link"><i class="icon-eye-open"></i> Visible</a>
    </li>
    <li class="dropdown-menu__item">
        <a href="#edit" class="dropdown-menu__item-link"><i class="icon-edit"></i> Edit</a>
    </li>
    <li class="dropdown-menu__item">
        <a href="#delete" class="dropdown-menu__item-link"><i class="icon-remove"></i> Delete</a>
    </li>
</ul>

<script type="text/javascript">
    var data_url = "{{ request.route_url('sacrud_pages_get_tree') }}";
</script>

<script src="{{ request.static_url('ps_pages:static/js/__ps_pages.js') }}"></script>
<script src="{{ request.static_url('ps_pages:static/js/__bower_components/jqtree/tree.jquery.js') }}"></script>
<script src="{{ request.static_url('ps_pages:static/js/jqTreeContextMenu.js') }}"></script>
