body,
html {
  height: 100%;
  min-height: 100%;
}

.hoverclass2 {
  border: solid 5px lime;
}
.content h1 {
  font: 1.2em Arial, Helvetica, sans-serif;
  color: #444;
  padding: 0 0 0.3em 0;
}

.content h2 {
  font: 1.1em Arial, Helvetica, sans-serif;
  color: #444;
  padding: 0 0 0.3em 0;
}

.content h3 {
  font: 1em Arial, Helvetica, sans-serif;
  color: #444;
  padding: 0 0 0.3em 0;
}

.content h5 {
  width: 100%;
  font: 1em Arial, Helvetica, sans-serif;
  color: #444;
  padding: 0.3em 0 0.2em 0.5em;
  margin: 0 0 0.5em 0;
  background: #EFEFEF;
  position: relative;
  left: -0.5em;
}

.content a {
  color: #336699;
}

.content a:hover {
  color: #EF7F1B;
}

.content p {
  font: 0.8em Arial, Helvetica, sans-serif;
  color: #444;
  padding: 0 0 1.3em 0;
  line-height: 1.4em;
}

.content em {
  font-style: italic;
}

.content strong {
  font-weight: bold;
}

.content i {
  font-style: italic;
}

.content ol {
  counter-reset: list1;
  padding: 0 0 1em 1em;
}

.content ol li {
  position: relative;
  display: block;
  font: 0.8em Arial;
  color: #444;
  padding: 0 0 1em 1.8em;
  line-height: 1.4em;
  /*list-style-type:expression(function(t){ t.runtimeStyle.listStyleType = 'none'; t.insertAdjacentHTML('afterBegin','<span class="b-page-content-text-list-item-number">(' + (++t.parentNode.IEcounter || (t.parentNode.IEcounter = 1)) + ') </span>'); }(this));*/
}

.content ol li:before {
  content: counter(list1)'.';
  counter-increment: list1;
  position: absolute;
  left: 0;
  top: 0;
}

.content ol li .content-list-item-number {
  color: #555;
}

.content ul {
  padding: 0 0 1em 2em;
  list-style-type: none;
  text-indent: -1.8em;
}

.content ul li {
  position: relative;
  display: block;
  font: 0.8em Arial;
  color: #444;
  padding: 0 0 1em 0;
}

.content ul li:before {
  content: "\2014\a0";
  padding: 0 0.5em 0 0;
}

.content ul li::before {
  content: "\2014\a0";
  padding: 0 0.5em 0 0;
}

.content table {
  border-collapse: collapse;
  margin: 0 0 1em 0;
}

.content tr {
  color: #444;
}

.content tr:hover {
  background: #efefef;
}

.content th {
  font: bold 0.7em Arial;
  color: #444;
  text-align: left;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  background: #eee;
}

.content th p {
  font: bold 1em Arial;
  padding: 0;
  line-height: 1em;
}

.content td {
  font: 0.8em Arial;
  color: #444;
  line-height: 1.4em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  vertical-align: top;
}

.content td p {
  font: 1em Arial;
  color: #444;
  line-height: 1.4em;
  padding: 0;
}
.main-menu-title {
  width: 24%;
  font: 1.3em Arial, Helvetica, sans-serif;
  position: relative;
  float: left;
  color: #fff;
  padding: 0.4em 0 0 0;
}

.main-menu-title__link {
  color: #fff;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0 0 0 1.8em;
  text-decoration: none;
  margin: 0 0 0 1.4em;
}

.main-menu-title__link:before {
  width: 2.2em;
  height: 1.2em;
  background: url("../img/logo.png") no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.main-menu-title__link:hover {
  color: #ffcc00;
}
.main-menu {
  width: 100%;
  position: relative;
  background: #bc2131;
  z-index: 1000;
}

.main-menu-list {
  padding: 0;
  margin: 0;
  display: table;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  float: left;
  z-index: 10000;
}

.main-menu-list__item {
  position: relative;
  margin: 0;
  vertical-align: top;
  text-decoration: none;
  display: inline-block;
  z-index: 100;
}

.main-menu-list__item-link {
  font: 0.95em Arial, Helvetica, sans-serif;
  position: relative;
  display: block;
  color: #fff;
  padding: 0.7em 1.5em 0.75em 0.8em;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu-list__item-link:hover {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: #811621;
  color: #fff;
}

.main-menu-list__item-link:visited {
  color: #fff;
}

.main-menu-list__item:hover > .main-menu-list {
  visibility: visible;
  opacity: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
}

.main-menu-list__item > .main-menu-list {
  position: absolute;
  background: #bc2131;
  left: 0;
  top: auto;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-box-shadow: 0 0.1em 0.5em #540E15;
  -moz-box-shadow: 0 0.1em 0.5em #540E15;
  box-shadow: 0 0.1em 0.5em #540E15;
  margin: -0.1em 0 0 0;
}

.main-menu-list__item > .main-menu-list .main-menu-list__item {
  display: block;
  width: 100%;
}

.main-menu-list__item > .main-menu-list .main-menu-list__item-link {
  padding-right: 2em;
  padding-left: 1em;
  min-width: 130px;
}

.main-menu-list__item > .main-menu-list .main-menu-list {
  left: 100%;
  top: 0.5em;
  margin: 0 0 0 -0.5em;
}

.main-menu-list__item_state_current {
  background: #540E15;
}

.main-menu-list__item_state_current > .main-menu-list__item-link {
  text-decoration: none;
  content: #fff;
}

.main-menu-list__item_state_has-child > .main-menu-list__item-link:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0.5em;
  top: 1.2em;
  color: lime;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.main-menu-list__item_state_has-child .main-menu-list >
    .main-menu-list__item_state_has-child > .main-menu-list__item-link:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  color: lime;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
}

.main-menu-list__item_state_active {
  background: #811621;
}
.main-menu_type_right {
  background: none;
  padding: 0;
  z-index: 500;
}

.main-menu_type_right .main-menu-title {
  float: none;
  color: #000;
  padding: 0.7em 1.5em 0.2em 1.4em;
}

.main-menu_type_right .main-menu-list {
  width: 100%;
  display: block;
  float: none;
}

.main-menu_type_right .main-menu-list__item {
  display: block;
  padding: 0;
  width: 100%;
}

.main-menu_type_right .main-menu-list__item-link {
  display: block;
  color: #000;
  padding-left: 2em;
}

.main-menu_type_right .main-menu-list__item-link:hover {
  background: #bbb;
  color: #fff;
}

.main-menu_type_right .main-menu-list__item > .main-menu-list {
  background: #fff;
  -webkit-box-shadow: 0 0.1em 0.5em #333;
  -moz-box-shadow: 0 0.1em 0.5em #333;
  box-shadow: 0 0.1em 0.5em #333;
}

.main-menu_type_right .main-menu-list__item > .main-menu-list {
  position: absolute;
  left: -100%;
  top: 1em;
  margin: 0 0 0 0;
}

.main-menu_type_right .main-menu-list__item > .main-menu-list .main-menu-list__item-link {
  min-width: 50px;
}

.main-menu_type_right .main-menu-list__item_state_has-child > .main-menu-list__item-link:after,
.main-menu_type_right .main-menu-list__item_state_has-child .main-menu-list >
  .main-menu_type_right .main-menu-list__item_state_has-child > .main-menu-list__item-link:after {
  left: 1em;
  top: 1em;
  color: #000;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #000 transparent transparent;
}

.main-menu_type_right .main-menu-list__item_state_has-child .main-menu-list >
  .main-menu-list__item_state_has-child > .main-menu-list__item-link {
  padding-left: 2em;
}

.main-menu_type_right .main-menu-list__item_state_has-child .main-menu-list >
  .main-menu-list__item_state_has-child > .main-menu-list__item-link:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  color: lime;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #000 transparent transparent;
}

.main-menu_type_right .main-menu-list__item_state_current {
  background: #ccc;
}

.main-menu_type_right .main-menu-list__item_state_active {
  background: #ccc;
}
.main-menu_type_vertical {
  background: none;
  padding: 0;
  z-index: 500;
}

.main-menu_type_vertical .main-menu-title {
  float: none;
  color: #000;
  padding: 0.7em 1.5em 0.2em 1.5em;
}

.main-menu_type_vertical .main-menu-title:before {
  display: none;
}

.main-menu_type_vertical .main-menu-list {
  width: 100%;
  display: block;
  float: none;
}

.main-menu_type_vertical .main-menu-list__item {
  display: block;
  padding: 0;
  width: 100%;
}

.main-menu_type_vertical .main-menu-list__item-link {
  display: block;
  color: #000;
  padding-left: 2em;
}

.main-menu_type_vertical .main-menu-list__item-link:hover {
  background: #bbb;
  color: #fff;
}

.main-menu_type_vertical .main-menu-list__item > .main-menu-list {
  background: #fff;
  -webkit-box-shadow: 0 0.1em 0.5em #333;
  -moz-box-shadow: 0 0.1em 0.5em #333;
  box-shadow: 0 0.1em 0.5em #333;
}

.main-menu_type_vertical .main-menu-list__item > .main-menu-list {
  position: absolute;
  left: 100%;
  top: 1em;
  margin: 0 0 0 -2em;
}

.main-menu_type_vertical .main-menu-list__item_state_has-child > .main-menu-list__item-link:after,
.main-menu_type_vertical .main-menu-list__item_state_has-child .main-menu-list >
  .main-menu_type_vertical .main-menu-list__item_state_has-child > .main-menu-list__item-link:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  color: lime;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #000;
}

.main-menu_type_vertical .main-menu-list__item_state_current {
  background: #ccc;
}

.main-menu_type_vertical .main-menu-list__item_state_active {
  background: #ccc;
}
.gallery-list {
  display: table;
}

.gallery-list__item {
  min-height: 100px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 100px;
  margin: 0 0 2em 0;
}

.gallery-list__item-link {
  display: inline-block;
  text-decoration: none;
  border: solid 3px #fff;
  padding: 0.1em;
  width: 150px;
  position: relative;
}

.gallery-list__item-image {
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: #bbb 0 1px 3px;
  -moz-box-shadow: #bbb 0 1px 3px;
  box-shadow: #bbb 0 1px 3px;
  vertical-align: bottom;
}

.gallery-list__item-link:hover {
  border: solid 3px #bc2131;
}
.gallery {
  width: 100%;
  padding: 1em 0 0 0;
}
.page-note {
  font: 0.9em Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0.5em 1em;
  background: #f9f5e4;
  margin: 0 0 1em -1em;
  display: inline-block;
  position: relative;
}
.page-title {
  font: 1.8em Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0 0 0.5em 0;
}
.page {
  border: solid 1px #bbb;
  position: relative;
  z-index: 90;
  -webkit-box-shadow: 0 0 1.5em #ccc;
  -moz-box-shadow: 0 0 1.5em #ccc;
  box-shadow: 0 0 1.5em #ccc;
}

.page-inner {
  width: 100%;
  display: table;
}

.page__left {
  width: 23%;
  display: table-cell;
  background: #eee;
  vertical-align: top;
}

.page__middle {
  width: 50%;
  display: table-cell;
  padding: 2em 3% 2em 4%;
  vertical-align: top;
}

.page__right {
  width: 20%;
  display: table-cell;
  vertical-align: top;
  background: #eee;
}
.popup {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  display: none;
}

.popup-background {
  background: #eee;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  height: 100%;
  left: 0;
  min-height: 100%;
  opacity: .50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100001;
}

.popup-inner {
  //top: 50%;
  //vertical-align: baseline;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.popup-inner__ie {
  position: relative;
  width: 100%;
  text-align: center;
  //top: -50%;
}

.popup-inner__content {
  position: relative;
  z-index: 100002;
  display: inline-block;
  margin: 2em 0;
  text-align: left;
  text-decoration: none;
}

.popup-inner__content-link {
  position: absolute;
  z-index: 100003;
  top: .1em;
  right: 1.3em;
  text-decoration: none;
}

.popup-inner__content-link-text {
  font: .9em 'Arial', Helvetica, sans-serif;
  cursor: pointer;
  color: #000;
  border-bottom: dashed 1px #000;
}

.popup-inner__content-link:hover .popup-inner__content-link-text {
  color: #ff6702;
  border-bottom: dashed 1px #ff6702;
}
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (-o-min-device-pixel-ratio: 5/4),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
.wrapper {
  min-width: 985px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.wrapper__inner {
  padding: 20px 10px 50px 10px;
  position: relative;
}
.popup-inner__content-gallery {
  width: 800px;
  height: 550px;
  max-width: 800px;
  padding: 1.5em 1.1em 1.2em 1.1em;
  background: #fff;
  -webkit-box-shadow: 0 0 30px 0 #555;
  -moz-box-shadow: 0 0 30px 0 #555;
  box-shadow: 0 0 30px 0 #555;
}

.fotorama__stage__frame .fotorama__img {
  width: auto !important;
  max-height: 500px !important;
  margin: 0 auto !important;
  top: 0 !important;
}
/*# sourceMappingURL=__pyramid_pages.css.map */