*~
*.swo
*.swp
.settings
.project
.pydevproject
sacrud_pages/.coverage
sacrud_pages/TODO
*.pyc
sacrud_pages/cover
cover
.coverage
build
dist
*.egg-info
TODO
TODO.txt
nohup.out
.cache
example.sqlite
test.sqlite
