*~
*.swo
*.swp
*.pyc
*.egg-info
*.sqlite*
.cache
.project
.settings
.coverage
.pydevproject
pyramid_sacrud_pages/.coverage
pyramid_sacrud_pages/TODO
pyramid_sacrud_pages/cover
node_modules
cover
build
dist
TODO
TODO.txt
nohup.out
example.sqlite
test.sqlite
.ropeproject
_themes
_build
