*.egg-info
*.pyc
*.sqlite*
*.swo
*.swp
*~
.cache
.coverage
.project
.pydevproject
.ropeproject
.settings
_build
_themes
bower_components
build
cover
dist
example.sqlite
node_modules
nohup.out
phantomjsdriver.log
pyramid_sacrud_pages/.coverage
pyramid_sacrud_pages/cover
pyramid_sacrud_pages/TODO
test.sqlite
TODO
TODO.txt