<link rel="stylesheet" href="http://daviduv.github.io/jqTreeContextMenu/css/bootstrap.min.css">
<link rel="stylesheet" href="http://mbraak.github.io/jqTree/jqtree.css">

<div class="widget">
    <div class="widget-title">MPTT_PAGES</div>
    <div class="widget-content">
        <div class="widget-tree" id="sacrud-tree"></div>
    </div>
</div>

<ul id="sacrud-tree-menu" class="dropdown-menu">
    <li class="edit">
        <a href="#edit"><i class="icon-edit"></i> Edit</a>
    </li>
    <li class="delete">
        <a href="#delete"><i class="icon-remove"></i> Delete</a>
    </li>
    <li class="divider"></li>
    <li class="add">
        <a href="#add"><i class="icon-plus"></i> Add</a>
    </li>
</ul>

<script src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script src="http://mbraak.github.io/jqTree/tree.jquery.js"></script>
<script src="http://daviduv.github.io/jqTreeContextMenu/jqTreeContextMenu.js"></script>
<script>
    $(function() {
        var url = "/get_tree/";
        var data = $.ajax({"url": url, "async": false});

        var $tree = $('#sacrud-tree');
        $tree.tree({
            data: data.responseJSON,
            dragAndDrop: true,
            usecontextmenu: true
        });

        $tree.bind(
            'tree.dblclick',
            function(event) {
                // event.node is the clicked node
                window.location = "/admin/mptt_pages/update/" + event.node.id;
            });

        $tree.bind(
            'tree.move',
            function(event) {
                event.preventDefault();
                var url = "/move/" + event.move_info.moved_node.id + "/" +
                          event.move_info.position + "/" +
                          event.move_info.target_node.id + "/";
                var status = $.ajax({"url": url, "async": false}).status;
                if (status==200) {
                    event.move_info.do_move();
                }
            });

        $tree.jqTreeContextMenu($('#sacrud-tree-menu'), {
          "delete": function (node) {
              var url = "/admin/mptt_pages/delete/" + node.id;
              var status = $.ajax({'url': url, "async": false});
              $tree.tree('removeNode', node);
          },
          "edit": function (node) {
            window.location = "/admin/mptt_pages/update/" + node.id;
          },
          "add": function (parent_node) {
              var url = "/insert_to/" + parent_node.id;
              var new_node = $.ajax({'url': url, "async": false});
              if(new_node){
                $tree.tree(
                    'appendNode',
                        {
                            label: new_node.responseJSON.label,
                            id: new_node.responseJSON.id
                        },
                    parent_node
                );
            }
          }
        });
    });
</script>