<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Load json data in javascript tree</title>
    <script src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script src="http://mbraak.github.io/jqTree/tree.jquery.js"></script>
    <link rel="stylesheet" href="http://mbraak.github.io/jqTree/jqtree.css">
</head>
<body>
<div id="tree1"></div>

<script>
    $(function() {
        var data = [
          {% for item in pages recursive %}
              {
                label: '{{ item }}',
                id: '{{ item.id }}',
                children: [
                  {% if item.children %}
                      {{ loop(item.children) }}
                  {% endif %}
                ]
              },
          {% endfor %}
        ];

        $('#tree1').tree({
            data: data,
            dragAndDrop: true
        });

        $('#tree1').bind(
            'tree.dblclick',
            function(event) {
                // event.node is the clicked node
                console.log(event.node);
                window.location = "/admin/mptt_pages/update/" + event.node.id;
            });

        $('#tree1').bind(
            'tree.move',
            function(event) {
                console.log('moved_node', event.move_info.moved_node);
                console.log('target_node', event.move_info.target_node);
                console.log('position', event.move_info.position);
                console.log('previous_parent', event.move_info.previous_parent);
                event.preventDefault();
                var url = "/move/" + event.move_info.moved_node.id + "/" +
                          event.move_info.position + "/" +
                          event.move_info.target_node.id + "/";
                var status = $.ajax({"url": url, "async": false}).status
                if (status==200) {
                    event.move_info.do_move();
                }
            });
    });
</script>
</body>
</html>
