<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>
    {% if page.seo_title %}
      {{ page.seo_title }}
    {% else %}
      {{ page.name }}
    {% endif %}
  </title>

  {{ page.seo_keywords }}
  {{ page.seo_description }}
  {{ page.seo_metatags|safe }}
  <title>index</title>
</head>
<body>
  Redefine me in "<your static>/sacrud_pages/index.jinja2"
  <br />
  {{ page.name }}
  <br />
  {{ page.description|safe }}
</body>
</html>
