<ul class="menu">
{% for node, children in menu.iteritems() recursive %}
  <li><a href="/{{ node.get_url()|e }}">{{ node.name }}</a>
    <ul class="submenu">{{ loop(children.items()) }}</ul>
  </li>
{% endfor %}
</ul>
