<link rel="stylesheet" href="http://daviduv.github.io/jqTreeContextMenu/css/bootstrap.min.css">
<link rel="stylesheet" href="http://mbraak.github.io/jqTree/jqtree.css">
<link href="/static_pages/css/style.css" rel="stylesheet" type="text/css" />

<style>
.not_visible {
  background: #eee;
  color: #333 !important;
  padding: 0.2em 0.5em;
}
</style>

<div class="widget">
    <div class="widget-title">MPTT_PAGES</div>
    <div class="widget-toolbar">
        <div class="toolbar clear-fix">
            <div class="toolbar-button">
                <div class="toolbar-button__item toolbar-button__item_state_disable">
                     <button type="submit" name="form.submitted" class="toolbar-button__item-button">Add</button>
                </div>
                <div class="toolbar-button__item toolbar-button__item_type_red">
                    <div class="toolbar-button__item-name">Delete</div>
                </div>
                <div class="toolbar-button__item">
                    <a href="#" class="toolbar-button__item-link">Hide</a>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="widget-tree" id="sacrud-tree"></div>
    </div>
</div>

<ul id="sacrud-tree-menu" class="dropdown-menu">
    <li class="visible">
        <a href="#visible"><i class="icon-eye-open"></i> Visible</a>
    </li>
    <li class="divider"></li>
    <li class="edit">
        <a href="#edit"><i class="icon-edit"></i> Edit</a>
    </li>
    <li class="delete">
        <a href="#delete"><i class="icon-remove"></i> Delete</a>
    </li>
    <li class="divider"></li>
    <li class="add">
        <a href="#add"><i class="icon-plus"></i> Add</a>
    </li>
</ul>

<script src="http://mbraak.github.io/jqTree/tree.jquery.js"></script>
<script src="http://daviduv.github.io/jqTreeContextMenu/jqTreeContextMenu.js"></script>
<script>
    $(function() {
        var url = "{{ request.route_url('sacrud_pages_get_tree') }}";
        var data = $.ajax({"url": url, "async": false});

        var $tree = $('#sacrud-tree');
        $tree.tree({
            data: data.responseJSON,
            dragAndDrop: true,
            usecontextmenu: true,
            autoOpen: true,

            onCreateLi: function(node, $li) {
                if(!node.visible) {
                  $li.find('.jqtree-title').addClass('not_visible');
                }
            }
        });

        $tree.bind(
            'tree.dblclick',
            function(event) {
                window.location = "{{ request.route_url('sa_home') }}mptt_pages/update/" +
                                  event.node.id;
            });

        $tree.bind(
            'tree.move',
            function(event) {
                event.preventDefault();
                var url = "/sacrud_pages/move/" + event.move_info.moved_node.id + "/" +
                          event.move_info.position + "/" +
                          event.move_info.target_node.id + "/";
                var status = $.ajax({"url": url, "async": false}).status;
                if (status==200) {
                    event.move_info.do_move();
                }
            });

        $tree.jqTreeContextMenu($('#sacrud-tree-menu'), {
          "delete": function (node) {
              var url = "{{ request.route_url('sa_home') }}mptt_pages/delete/" + node.id;
              var status = $.ajax({'url': url, "async": false}).status;
              if (status==200) {
                $tree.tree('removeNode', node);
              }
          },
          "edit": function (node) {
            window.location = "{{ request.route_url('sa_home') }}mptt_pages/update/" + node.id;
          },
          "add": function (parent_node) {
              var url = "/sacrud_pages/insert/" + parent_node.id + '/';
              var new_node = $.ajax({'url': url, "async": false});
              if(new_node){
                $tree.tree(
                    'appendNode',
                        {
                            label: new_node.responseJSON.label,
                            id: new_node.responseJSON.id
                        },
                    parent_node
                );
              }
          },
          "visible": function (node) {
              var url = "/sacrud_pages/visible/" + node.id + '/';
              var visible = $.ajax({'url': url, "async": false}).responseJSON.visible;
              var element = $(node.element).find('.jqtree-title').first();
              if(visible){
                  element.removeClass('not_visible');
              } else {
                  element.addClass('not_visible');
              }
          }
        });
    });
</script>
