.jqtree-hidden
{
  background: #eee;
  color: #333 !important;
}
.jqtree-element .jqtree-title
{
	padding: 0.2em 0.5em;
	margin: 0.1em 0 !important;
	display: inline-block;
	border: solid 1px transparent;
}
.jqtree-tree .jqtree-selected > .jqtree-element,
.jqtree-tree .jqtree-selected > .jqtree-element:hover
{
	background: none !important;
}
.jqtree-tree .jqtree-selected > .jqtree-element .jqtree-title,
.jqtree-tree .jqtree-selected > .jqtree-element:hover .jqtree-title
{ 
	background: #F4F9FE !important;
	border: solid 1px #ccc;
}
.dropdown-menu
{
	min-width: 150px;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	display: none;
}
	.dropdown-menu__item
	{
		padding: 0.5em 1em 0.5em 1.5em;
	}
		.dropdown-menu__item-link
		{
			font: 1em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
			color: #000;
			text-decoration: none;
		}

	.dropdown-menu__item:hover
	{
		background: #4183c4;
	}
		.dropdown-menu__item:hover .dropdown-menu__item-link
		{
			color: #fff;
		}