.page
{
    border: solid 1px #bbb;
    position: relative;
    z-index: 90;
    box-shadow: 0 0 1.5em #ccc;
}
    .page-inner
    {
        width: 100%;
        display: table;
    }
        .page__left
        {
            width: 25%;
            display: table-cell;
            background: #eee;
            vertical-align: top;
        }
        .page__right
        {
            width: 70%;
            display: table-cell;
            padding: 2em 0 2em 5%;
            vertical-align: top;
        }