<div class="main-menu-list">
  {% for node in menu %}
    <div class="main-menu-list__item
                {% if node == context.node %}
                  main-menu-list__item_state_current
                {% endif %}">
        <a href="{{ request.resource_url(
                      context.__class__(node,
                      context.get_prefix(request, node=node))) }}"
          class="main-menu-list__item-link">
          {{ node.name }}
        </a>
    </div>
  {% endfor %}
</div>
