<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Index</title>
  <link href="{{ request.static_url('pyramid_pages:static/css/__pyramid_pages.css') }}" rel="stylesheet" />
</head>
<body>
  <div class="wrapper">
    <div class="wrapper__inner">
      <div class="page clearfix">
        <div class="page__left">
          <h2>News</h2>
          {% with menu=news_menu(from_lvl=1, to_lvl=3, trees=(1, 2, 3)) %}
            {% include 'pyramid_pages/menu.jinja2' with context %}
          {% endwith %}

          <h2>Pages</h2>
          {% with menu=page_menu(from_lvl=1, to_lvl=3, trees=(1, 2, 3)) %}
            {% include 'pyramid_pages/menu.jinja2' with context %}
          {% endwith %}
        </div>
        <div class="page__right">
          <div class="page-title">{{ context.node.name }}</div>
          <div class="content">{{ context.node.description }}</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
