<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
  </head>
  <body>
    Hello Traversal World!
    <br/>
    {{ context.node.name }}
    <br/>
    {{ context.node.description }}
    <br/>
    <br/>

    {% with menu=page_menu(from_lvl=1).items() + news_menu(from_lvl=1).items() %}
      {% include 'ps_pages/menu.jinja2' with context %}
    {% endwith %}
  </body>
</html>
