.main-menu-title
{
  font: 1.3em Arial, Helvetica, sans-serif;
  position: relative;
  float: left;
  color: #fff;
  padding: 0.4em 1.5em 0 0;
}
  .main-menu-title__link
  {
    color: #fff;
  }
  .main-menu-title__link:hover
  {
    color: #ffcc00;
  }