{% extends 'pyramid_pages/base.jinja2' %}

{% block content %}
    <div class="page-title">{{ context.node.name }}</div>
    <div class="content">{{ context.node.description or '' }}</div>
{% endblock %}