<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>
    {% if page.seo_title %}
      {{ page.seo_title }}
    {% else %}
      {{ page.name }}
    {% endif %}
  </title>

  {{ page.seo_keywords }}
  {{ page.seo_description }}
  {{ page.seo_metatags|safe }}
</head>
<body>
  Redefine me in "<your static>/pyramid_sacrud_pages/index.jinja2"
  <br />
  {{ page.name }}
  <br />
  {{ page.description|safe }}
  <br />
  {% with menu=page.get_menu(from_lvl=1, to_lvl=3, trees=(1, 2, 3)) %}
    {% include 'pyramid_sacrud_pages/menu.jinja2' with context %}
  {% endwith %}
</body>
</html>
