<link href="/static_sacrud_pages/css/jqtree.css" rel="stylesheet" type="text/css" />
<link href="/static_sacrud_pages/css/sacrud_pages.css" rel="stylesheet" type="text/css" />

<script src="{{ request.static_url('pyramid_sacrud_pages:static/js/jqTree/tree.jquery.js') }}"></script>
<script src="{{ request.static_url('pyramid_sacrud_pages:static/js/jqTree/jqTreeContextMenu.js') }}"></script>

<div class="widget widget_type_single">
    <div class="widget-title">MPTT_PAGES</div>
    <div class="widget-toolbar">
        <div class="toolbar clear-fix">
            <div class="toolbar-button">
                {% include "sacrud/forms/actions/add.jinja2" %}
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="widget-tree" id="sacrud-tree"></div>
    </div>
</div>

<ul id="sacrud-tree-menu" class="dropdown-menu">
    <li class="dropdown-menu__item">
        <a href="#visible" class="dropdown-menu__item-link"><i class="icon-eye-open"></i> Visible</a>
    </li>
    <li class="dropdown-menu__item">
        <a href="#edit" class="dropdown-menu__item-link"><i class="icon-edit"></i> Edit</a>
    </li>
    <li class="dropdown-menu__item">
        <a href="#delete" class="dropdown-menu__item-link"><i class="icon-remove"></i> Delete</a>
    </li>
</ul>


<script>
    $(function() {
        var url = "{{ request.route_url('sacrud_pages_get_tree') }}";
        var data = $.ajax({"url": url, "async": false});
        var $tree = $('#sacrud-tree');

        $tree.tree({
            data: data.responseJSON,
            dragAndDrop: true,
            usecontextmenu: true,
            autoOpen: true,

            onCreateLi: function(node, $li) {
                dom_node = $li.find('.jqtree-title');
                if(!node.visible) {
                  dom_node.addClass('jqtree-hidden');
                }
                if(node.redirect) {
                  dom_node.after('<span class="jqtree-label jqtree-redirect ' +
                                  node.CSSredirect + '">' + node.redirect_code +
                                  ' — ' + node.redirect + '</span>');
                }
            }
        });

        $tree.bind(
            'tree.click',
            function(event) {
                window.location = event.node.url_update;
            });

        $tree.bind(
            'tree.move',
            function(event) {
                event.preventDefault();
                var url = "/sacrud_pages/move/" + event.move_info.moved_node.id + "/" +
                          event.move_info.position + "/" +
                          event.move_info.target_node.id + "/";
                var status = $.ajax({"url": url, "async": false}).status;
                if (status==200) {
                    event.move_info.do_move();
                }
            });

        $tree.jqTreeContextMenu($('#sacrud-tree-menu'), {
          "delete": function (node) {
              var url = node.url_delete;
              var status = $.ajax({'url': url, "async": false}).status;
              if (status==200) {
                $tree.tree('removeNode', node);
              }
          },
          "edit": function (node) {
            window.location = node.url_update;
          },
          "visible": function (node) {
              var url = node.url_visible;
              var visible = $.ajax({'url': url, "async": false}).responseJSON.visible;
              var element = $(node.element).find('.jqtree-title').first();
              if(visible){
                  element.removeClass('jqtree-hidden');
              } else {
                  element.addClass('jqtree-hidden');
              }
              element.parents('.jqtree-selected').removeClass('jqtree-selected');
          }
        });
    });
</script>
